@using Microsoft.AspNetCore.Mvc.Localization
@using StGabrielArms.TriggerTrade.Localization
@inject IHtmlLocalizer<TriggerTradeResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
